* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
h1 {
	color: white;
}
.section {
	min-height: 100vh;
	text-align: center;
	width: 100%;
	display: table;
	background-size: cover;
}
.wrap-block {
	display: table-cell;
	vertical-align: middle;
}